PyYAML==6.0.2
certifi==2024.7.4
chardet==2.3.0
execnet==1.4.1
ndg-httpsclient==0.4.0
oauthlib==1.0.3
py==1.11.0
pyasn1==0.1.9
pyopenssl==25.1.0
pytest==2.8.2
pytest-mozwebqa==1.6
pytest-xdist==1.13.1
requests==2.32.4
rsa==4.9.1
selenium==2.48.0
